* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/40px 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#app {
  background: #eee;
  padding: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: background-color 1s;
}

h1 {
  text-align: center;
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 300;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

h1 .more {
  display: flex;
  text-align: left;
  flex-direction: column;
}

h1 .words a:hover,
h1 .words a.selected {
  opacity: 1;
}

h1 .words a {
  display: block;
  opacity: 0.5;
}

h1 .words {
  margin-right: 0.25em;
  position: relative;
  text-align: right;
  -webkit-transition: bottom 0.5s;
  right: 0;
  position: relative;
}

@media (max-width: 320px) {
  h1 {
    font-size: 25px;
  }
}