$globals
    font: dinprolight, 'Helvetica Neue', Helvetica, sans-serif

$colors
    purple: #515CA0
    purple_shade: #3B4584

$fonts
    default: 16px $font
    copy: 16px/36px $font
    lead: 500 25px/32px $font
    medium: 500 25px/32px $font

$shadows
    float: 0px 1px 2px rgba(0, 0, 0, 0.05)

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font: 14px/40px $font

a
    cursor: pointer
    text-decoration: none

img
    display: block

h2
    text-align: center
    font-size: 64px
    max-width: 750px
    line-height: 1.2em
    font-weight: 300
    margin-top: 50px
    color: #fff
    display: flex
    align-items: center
    padding: 0px 50px
    margin-bottom: 50px
    text-shadow: $shadows.float

h3
    font: $fonts.medium
    color: $colors.purple
    margin-bottom: 20px

p
    font: $fonts.copy

p
    margin-bottom: 10px

p + h3
    margin-top: 60px

// Container, sections

.container
    max-width: 600px
    margin: 0 auto

.section.purple
    background: $colors.purple
    padding: 60px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.section.white
    background: white
    width: 100%
    padding: 90px

// Email form

.email-form
    position: relative

    input
        display: block
        background: $colors.purple_shade
        font: $fonts.lead
        border: none
        color: white
        outline: none
        padding: 15px 20px
        width: 600px
        border: 1px solid transparent
        &.has-error
            border-color: rgba(162, 78, 140, 0.82)
    button
        cursor: pointer
        position: absolute
        right: 0px
        bottom: 0px
        top: 0px
        width: 50px
        background: transparent
        border: none

        &:active, &:focus
            outline: 0

    .note
        color: white

    ::-webkit-input-placeholder
        color: $colors.purple

    .arrow
        cursor: pointer
        font-size: 25px
        position: absolute
        right: 20px
        top: 20px
        color: $colors.purple

    input:focus + .arrow
        color: white

.email-form.white
    ::-webkit-input-placeholder
        color: #ccc

    input
        background: #f8f8f8
        color: #333

        + .error
            color: rgba(166, 81, 193, 0.53)

        &.has-error
            border: 1px solid #f00

        &:active, &:focus
            outline: 0

    .arrow
        color: #ccc

    input:focus + .arrow
        color: #333

.note
    margin: 60px

// Mobile sizing

@media(max-width: 900px)
    
    h2
        padding: 0px

@media(max-width: 750px)
    h2
        font-size: 49px

    form
        .group
            width: 100%

@media(max-width: 650px)
    h2
        font-size: 36px

    .section.purple
        form
            width: 100%
            input
                width: 100%
                font-size: 20px

    .white.section
        padding: 50px
    
        input
            width: 70%
        button
            width: 30%

@media(max-width: 550px)
    .section.purple
        input
            font-size: 20px

@media(max-width: 480px)

    .section.purple
        form
            input
                font-size: 16px

    .email-form.white
        button
            padding-left: 20px
            padding-right: 20px

@media(max-width: 320px)
    h1
        font-size: 25px

